/*Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500;700;&display=swap");

// font-family: 'Quicksand', sans-serif;
// font-family: 'Roboto', sans-serif;

// Thin 100
// Light 300
// Regular 400
// Medium 500
// Bold 700
// Black 900

:root {
	// =================================================================
	--primary: #fe3e57; // Site main color - (Основний колір сайту)
	--secondary: #34c3ff; // Site secondary color - (Додатковий колір сайту)
	--accent: #ffb534; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
	--inverse: #5800e4; // Site inverse color - (Наприклад: для створення контрасту між фоном та текстом)

	// Background colors (Фонові кольори):
	// =================================================================
	--bg-primary: #ffffff; // BG primary background color - (Основний фоновий колір сайту)
	--bg-secondary: #f6f6f6; // BG secondary background color - (Додатковий фоновий колір сайту)
	--bg-accent: #ececec; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	// --bg-inverse: #2d00f7; // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.
	

	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: #29282d; // Text primary text color - (Основний текстовий колір сайту)
	--text-secondary: #8d8d8d; // Text secondary text color - (Додатковий текстовий колір сайту)
	--text-accent: #fff; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	--text-inverse: #ccccce; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
	// =================================================================

	--block-box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
}
// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Quicksand", sans-serif;
$fontSize: rem(16); // де 14(px) - розмір шрифту за замовчуванням з макету
$line-height-base: lhi(26);
// $letter-spacing: em(0.17);
$font-style: normal;
$font-weight: 500;
$mainColor: var(--text-secondary); // Колір шрифту за замовчуванням

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;
// Site colors (Кольори сайту):
