.comments {
    padding: rem(40) rem(0) ;
    border-bottom: 1px solid var(--bg-accent);

    &__title {
        text-transform: uppercase;
        font-weight: 600;
        margin: rem(0) rem(0) rem(40) rem(0);
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: rem(30);
    }
}

.comment {
    display: flex;
    gap: rem(30);

    
    &__left {
        img{
            border-radius: 50%;
            height: rem(70);
            width: rem(70);
        }
    
    }


    &__right {
        display: flex;
        flex-direction: column;
        gap: rem(5);
    }

    &__up {
        display: flex;
        align-items:center;

        h4{
            margin: rem(0) rem(15) rem(0) rem(0);
            text-transform: uppercase;

        }
        span{

        }
        p{
            margin: rem(0) rem(0) rem(0) rem(15);
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }
    }

    &__down {
        display: flex;
        align-items:center;
        gap: rem(10);
        svg{
            fill: var(--text-secondary);
            cursor: pointer;
              transition: all 0.3s ease-in-out;
            &:hover{
                fill: var(--primary);
              
            }
        }
    }
}

 @media (max-width: $mobileSmall) {
    .comment {
        flex-direction: column;
        align-items:center;
        &__up {
            align-items:center;
            justify-content: center;
        }
        &__down {
          justify-content: end;
            svg{
                fill: var(--text-secondary);
            }
        }
    }
 }
